// Tooltip property
.tooltip-button {
    min-width: 20px;
    height: 20px;
    background: transparent url("#{$basepath}/assets/images/icons/info-white.svg") no-repeat;
    background-size: cover;
    border: 0;
    padding: 0;
    margin-left: 5px;
    &-black {
        background-image: url("#{$basepath}/assets/images/icons/info-black.svg");
    }
    &-blue {
        background-image: url("#{$basepath}/assets/images/icons/info-blue.svg");
    }
}

.form-group-tooltop {
    .form-control {
        padding-right: 35px;
    }
    .tooltip-button {
        margin-top: 15px;
        position: absolute;
        right: 10px;
    }
}

[data-tooltip="tooltip"] {
    display: inline-block;
    cursor: pointer;
    position: relative;
    &:hover {
        .tooltip {
            display: block;
        }
    }
}

.tooltip {
    display: none;
    width: 200px;
    font-size: 10px;
    font-family: $font-regular;
    line-height: 16px;
    color: #e7ebeb;
    text-align: left;
    padding: 15px;
    background: #2d3636;
    position: absolute;
    z-index: 1000;
    @media (min-width: 768px) {
        width: 250px;
    }
    * {
        font-size: 10px;
        font-family: $font-regular;
        line-height: 16px;
        color: #e7ebeb;
        text-align: left;
        margin: 0;
    }
    &:before {
        content: "";
        width: 12px;
        height: 12px;
        border-top: 1px solid #2d3636;
        border-right: 1px solid #2d3636;
        background: #2d3636;
        position: absolute;
        margin: auto;
    }
    &--top {
        top: inherit;
        bottom: calc(100% + 10px);
        left: 50%;
        right: inherit;
        transform: translateX(-50%);
        &:before {
            top: inherit;
            bottom: -6px;
            left: 0;
            right: 0;
            transform: rotate(135deg);
        }
    }
    &--right {
        top: 50%;
        bottom: inherit;
        left: calc(100% + 10px);
        right: inherit;
        transform: translateY(-50%);
        &:before {
            top: 0;
            bottom: 0;
            left: -6px;
            right: inherit;
            transform: rotate(-135deg);
        }
    }
    &--bottom {
        top: calc(100% + 10px);
        bottom: initial;
        left: 50%;
        right: initial;
        transform: translateX(-50%);
        &:before {
            top: -6px;
            bottom: initial;
            left: 0;
            right: 0;
            transform: rotate(-45deg);
        }
    }
    &--left {
        top: 50%;
        bottom: initial;
        left: initial;
        right: calc(100% + 10px);
        transform: translateY(-50%);
        &:before {
            top: 0;
            bottom: 0;
            left: inherit;
            right: -6px;
            transform: rotate(45deg);
        }
    }
}

@each $point in map-keys($grid-breakpoints) {
    $min: map-get($grid-breakpoints, $point);
    $media: "screen";
    @if ($min !=0) {
        $media: "(min-width:" + $min + ")";
    }
    @media #{$media} {
        .tooltip--#{$point}--top {
            top: inherit;
            bottom: calc(100% + 10px);
            left: 50%;
            right: inherit;
            transform: translateX(-50%);
            &:before {
                top: inherit;
                bottom: -6px;
                left: 0;
                right: 0;
                transform: rotate(135deg);
            }
        }
        .tooltip--#{$point}--right {
            top: 50%;
            bottom: inherit;
            left: calc(100% + 10px);
            right: inherit;
            transform: translateY(-50%);
            &:before {
                top: 0;
                bottom: 0;
                left: -6px;
                right: inherit;
                transform: rotate(-135deg);
            }
        }
        .tooltip--#{$point}--bottom {
            top: calc(100% + 10px);
            bottom: initial;
            left: 50%;
            right: initial;
            transform: translateX(-50%);
            &:before {
                top: -6px;
                bottom: initial;
                left: 0;
                right: 0;
                transform: rotate(-45deg);
            }
        }
        .tooltip--#{$point}--left {
            top: 50%;
            bottom: initial;
            left: initial;
            right: calc(100% + 10px);
            transform: translateY(-50%);
            &:before {
                top: 0;
                bottom: 0;
                left: inherit;
                right: -6px;
                transform: rotate(45deg);
            }
        }
    }
}
